[{sasl, [{error_logger_mf_dir, "logs/sasl_logs"},
         {error_logger_mf_maxbytes, 1048576},
         {error_logger_mf_maxfiles, 5}]},
 {hiqcore, [{log_name, "logs/hiqcore"},
            {log_level, debug},
            {mongo_host, "localhost"},
            {httpd_mod_dir, "lib/hiqcore-1/ebin"},
            {httpd_doc_dir, "lib/hiqcore-1/ebin"},
            {httpd_mod_list, [mail,rule]},
            {httpd_port, 8080},
            {httpd_name, "hiqmail"},
            {httpd_addr, {127,0,0,1}}]}].
